<div class="footer">
    <div class="app-name">
        <span>&#169;</span>
        <span>ToDo App</span>
    </div>

    <div class="creater">
        Design by <a href="https://www.linkedin.com/in/krishna-kant-singh-ab391a1b1/" target="_blank" rel="noopener noreferrer">Krishna kant Singh</a>
    </div>
    
</div>